// Define variables for your color scheme

// For example:
// $red: #f19cb1;
$red: #B25068;
$blue: #74A4BC;
$orange: #E7AB79;
$yellow: #E5F77D;
$green: #588B8B;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark: #4C3A51;
$purple: #774360;
$light: #DDFFF7;
