<div class="d-flex scroll-cards">
  <% albums.each do |album| %>
    <div class="card-product mx-2">
      <%= image_tag album.images&.first['url'] %>
      <div class="card-product-infos">
        <h2><%= album.artists&.first&.name %></h2>
        <p><%= album.name %></p>
      </div>
    </div>
  <% end %>
</div>
