.card-product {
  overflow: hidden;
  background: $purple;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 104px;
}

.card-product img {
  width: 104px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 4px;
}

.scroll-cards {
  width: 100%;
  overflow: scroll;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    background: transparent;
  }
}



// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {

// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-product .card-product-infos {
    padding: 8px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-product {
    min-width: 200px;
  }
  .card-product img {
    width: 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-product .card-product-infos {
    padding: 16px;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
